/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: calc(60% + 0.8vmin);
  scroll-behavior: smooth;
}
* {
  font-size: 1rem;
}
body {
  background-color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.separator {
  @apply flex flex-col justify-center md:justify-start my-auto pt-16 md:pt-0 px-12 md:px-24 lg:px-32;
}

.img-cover {
  @apply object-cover w-full h-screen hidden md:block;
}

.highlight-text {
  @apply text-secondary font-bold cursor-pointer;
}

.simple-input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1   ;
}

.error-text{
  @apply pl-1 text-red-400 pt-2 font-medium;
}

.header-title {
  @apply text-center text-primary font-bold text-3xl;
}

.text{
  @apply text-center font-medium text-black;
}
.form{
  @apply flex flex-col pt-3 md:pt-8;
}

.highlight-text-dark{
  @apply text-secondary-dark font-bold cursor-pointer;
}

.auth-btn{
  @apply bg-black rounded-sm text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
